@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?37567465');
  src: url('../font/fontello.eot?37567465#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?37567465') format('woff'),
       url('../font/fontello.ttf?37567465') format('truetype'),
       url('../font/fontello.svg?37567465#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?37567465#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-snow-heavy-inv:before { content: '\23'; } /* '#' */
.icon-hail-inv:before { content: '\24'; } /* '$' */
.icon-clouds-inv:before { content: '\25'; } /* '%' */
.icon-clouds-flash-inv:before { content: '\26'; } /* '&amp;' */
.icon-eventful:before { content: '\27'; } /* ''' */
.icon-plus:before { content: '\e813'; } /* '' */
.icon-cloud:before { content: '\4e'; } /* 'N' */
.icon-eventbrite:before { content: '\7c'; } /* '|' */
.icon-left-fat:before { content: '\21c7'; } /* '⇇' */
.icon-up-fat:before { content: '\21c8'; } /* '⇈' */
.icon-right-fat:before { content: '\21c9'; } /* '⇉' */
.icon-down-fat:before { content: '\21ca'; } /* '⇊' */
.icon-left-bold:before { content: '\21d0'; } /* '⇐' */
.icon-up-bold:before { content: '\21d1'; } /* '⇑' */
.icon-right-bold:before { content: '\21d2'; } /* '⇒' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-stop:before { content: '\25aa'; } /* '▪' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-check:before { content: '\2611'; } /* '☑' */
.icon-menu:before { content: '\e810'; } /* '' */
.icon-sun:before { content: '\263c'; } /* '☼' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-note:before { content: '\266a'; } /* '♪' */
.icon-note-beamed:before { content: '\266b'; } /* '♫' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-flash:before { content: '\26a1'; } /* '⚡' */
.icon-flight:before { content: '\2708'; } /* '✈' */
.icon-cancel-circle:before { content: '\e814'; } /* '' */
.icon-plus-circled:before { content: '\2795'; } /* '➕' */
.icon-italic:before { content: '\e086'; } /* '' */
.icon-font:before { content: '\e095'; } /* '' */
.icon-bold:before { content: '\e0ce'; } /* '' */
.icon-align-justify:before { content: '\e0d8'; } /* '' */
.icon-help-circled:before { content: '\e812'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-eye-off:before { content: '\e808'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-air:before { content: '\e753'; } /* '' */
.icon-progress-1:before { content: '\e769'; } /* '' */
.icon-progress-2:before { content: '\e76a'; } /* '' */
.icon-progress-3:before { content: '\e76b'; } /* '' */
.icon-network:before { content: '\e776'; } /* '' */
.icon-paper-plane:before { content: '\e80b'; } /* '' */
.icon-moon-inv:before { content: '\e7a0'; } /* '' */
.icon-magnet:before { content: '\e7a1'; } /* '' */
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e811'; } /* '' */
.icon-theatre:before { content: '\e809'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-certificate:before { content: '\e80d'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-globe:before { content: '\e822'; } /* '' */
.icon-glass:before { content: '\e825'; } /* '' */
.icon-graduation-cap:before { content: '\e81a'; } /* '' */
.icon-headphones:before { content: '\e827'; } /* '' */
.icon-palette:before { content: '\e821'; } /* '' */
.icon-ticket:before { content: '\e81b'; } /* '' */
.icon-video-2:before { content: '\e803'; } /* '' */
.icon-video-3:before { content: '\e804'; } /* '' */
.icon-video:before { content: '\e82d'; } /* '' */
.icon-target:before { content: '\e82e'; } /* '' */
.icon-award:before { content: '\e826'; } /* '' */
.icon-thumbs-up:before { content: '\e82a'; } /* '' */
.icon-thumbs-down:before { content: '\e829'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-alert:before { content: '\e81e'; } /* '' */
.icon-water:before { content: '\e81c'; } /* '' */
.icon-droplet:before { content: '\e824'; } /* '' */
.icon-briefcase:before { content: '\e823'; } /* '' */
.icon-cd:before { content: '\e835'; } /* '' */
.icon-light-up:before { content: '\e820'; } /* '' */
.icon-volume-off:before { content: '\e832'; } /* '' */
.icon-volume-down:before { content: '\e833'; } /* '' */
.icon-volume-up:before { content: '\e834'; } /* '' */
.icon-key-inv:before { content: '\e82f'; } /* '' */
.icon-lock:before { content: '\e82c'; } /* '' */
.icon-lock-open:before { content: '\e82b'; } /* '' */
.icon-wrench:before { content: '\e828'; } /* '' */
.icon-clock:before { content: '\e81f'; } /* '' */